*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* PAGE ADJUSTMENTS */
.app-wrapper{
    height: 100vh;
    width: 100%;
    background-color: lightcyan;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.app-adjustments{
    height: 100%;
    justify-content: center;
    align-items: center;
}
.application{
    height: 90vh;
    width: 75%;
    display: flex;
    border: 1px solid #d6d6d6;
}
/* COMMON */
main{
    height: calc(100% - 8%);
    display: flex;
    flex-direction: column;
}
header{
    min-height: 8%;
    background-color: whitesmoke;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.flex-container{
    display: flex;
}
/* CONTACTS SECTION */
.contacts-section{
    overflow: hidden;
    width: 35%;
    height: 100%;
    background-color: #fafafa;
    border-right: 1px solid #d6d6d6;
}
.header-adjustments{
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
/* USERNAME */
.flex-username{
    align-items: center;
}
/* ICONS */
.flex-icons{
    align-items: center;
}
.flex-icons span{
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: #b1b1b1;
}
.user-name{
    font-size: 1.1rem;
}
/* BANNER */
.banner-background{
    background-color: #8edafb;
    padding: 1rem 0;
    min-height: 10%;
}
.banner-adjustments{
    display: flex;
    align-items: center;
}
.bell-icon{
    color: #8edafb;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f3fbfe;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}
.notifications{
    color: #6191a6;
}
/* CONTACTS */
.contacts-adjustments .form{
    margin: 0.5 0.5rem;
}
form{
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(177, 177, 177, 0.2);
    width: 100%;
    border-radius: 10px;
}
form button{
    padding: 0.8rem 2rem;
    border: none;
    color: #b1b1b1;
    background-color: white;
}
form input{
    border: none;
    width: 100%;
}
/* CONTACTS CARDS */
.contacts-adjustments{
    overflow-y: auto;
    height: calc(100% - 10%);
}
.contacts-cards{
    margin: 1rem 0;
}
.contact-card{
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(177, 177, 177, 0.2);
}
.contact-image{
    margin: 0 0.5rem;
}
.contact-name{
    font-size: 1.1rem;
    padding: 0 0.5rem;
}
.active-contact{
    background-color: lightgray;
}
/* MESSAGES SECTION */
.messages-section{
    width: 65%;
    height: 100%;
}
.messages-background{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 10%);
    width: 100%;
}
.messages-container{
    height: calc(100% - 8%);
    padding: 0 4rem;
    padding-top: 2rem;
    overflow-y: auto;
}
.messages-adjustments{
    flex-direction: column;
}
/* MESSAGES */
.message{
    max-width: 40%;
    padding: 1rem 1rem;
    display: block;
    border-radius: 10px;
    margin: 1rem 0;
}
.received{
    background-color: white;
    align-self: flex-start;
}
.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}
/* MESSAGE DATA */
.message-data{
    display: block;
    font-size: 0.8rem;
    color: grey;
    text-align: right;
}
/* LOWER MAIN */
.lower-main{
    background-color: rgba(243, 238, 234, 0.9);
    height: 8%;
    display: flex;
    align-items: center;
}
.lower-main-form{
    /* max-height: 90%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.lower-main-form form{
    width: 70%;
}
.lower-main-form form input{
    padding: 0.8rem 2rem;
}
.smile-icon{
    width: 15%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: grey;
}
.audio-icon{
    width: 15%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: grey;
}